/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.welcome-page{
	background-image: url("https://res.cloudinary.com/dqh2kgypz/image/upload/v1471620765/background_first_title_f3h6go.jpg");
	background-size: cover;
	color: #7F0799;
	size: auto
	
  
}


.first-title h1 {
	width:auto;
	height:auto;
	background-color: rgba(232, 229, 211,0.6);
	border-radius: 10px;
	font-size: 50px;
	text-align: center;
	margin-left: 15%;
	margin-top: 25%;
	margin-bottom: 20%;
	margin-right: 15%;
	height: auto;
	width:auto;
}

.process-flow{
	padding-top: 94px;
    padding-left: 69px;
	background-color: rgba(232, 229, 211,0.6);
	border-radius: 10px;

}

.process-flow h2 {
	margin-right: 30%;
	margin-left: 30%;
	text-align: center;
	font-size: 45px;
	margin-bottom: 10%;
}

.process-flow h4{
	font-size: 35px;
	text-align:center;
}
.process-flow p{
	font-size: 25px
}
.log-in{
	margin-left: 60%;
	margin-right: 60%;
	border-radius: 10px;
	height:auto;
	width: auto;
}
.log-in a{
	font-size: 30px;
	font: helvetica;
	text-decoration: none;
	height: auto;
	width:auto;
}
.log-in-text {
	height: auto;
	width:220px;
}
.log-in-again {
	margin-left: 60%;
	margin-right: 30%;
	border-radius: 10px
}

.enrollment {
		margin-top: 10px;
}
