<div class="welcome-page lark">
	<div class="container-fluid first-title">
		<div class= "row">
			<h1>Bored to eat alone? <br>Not easy to plane a dinner with your friends?<br>Welcome on Meat's-up</h1>
		</div>
	</div>

	<div class="container-fluid process-flow">
	 <div class="row">
		<h2>How does it works?</h2>
		  <div class="col-md-4">
		  	<h4>Take the initiative</h4>
		  	<p>Pick the best moment by days or by night that best fit with your's and your friend's schedules.</p>
		  </div>
		  <div class="col-md-4">
		  	<h4>Communicate with your friends</h4>
			<p>Fix with your friends the theme of the dinner,<br> the dishes that you want to cooks and also who will the host for the night.</p>
		  </div>
		  <div class="col-md-4">
		  <h4>Enjoy your dinner</h4>
		  <p>Take the time to enjoy this great moment <br> with good companies and also delicious food!</p>
		 </div>
	</div>
	</div>
	<div class="container-fluid enrollment">
		<button><h2><%= link_to "Wanna give a try?", new_user_registration_path %></h2></button>
		<button><h2><%= link_to "again?", new_user_session_path %></h2></button>
	</div>
</div>